<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>06_列表渲染_过滤与排序</title>
</head>
<body>
<!--
1. 列表过滤
2. 列表排序
-->

<div id="demo">
    <input type="text" v-model="searchName">
    <ul>
        <li v-for="(p, index) in filterPersons1" :key="index">
            {{index}}---{{p.name}}---{{p.age}}
        </li>
    </ul>
    <button @click="orderType=2">年龄升序</button>
    <button @click="orderType=3">年龄降序</button>
    <button @click="orderType=1">原本顺序</button>
</div>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el:'#demo',
        data:function(){
            return{

                filterPersons:[
                    {name:'tom',age:'18',sex:'man'},
                    {name:'tom1',age:'58',sex:'man'},
                    {name:'tom2',age:'8',sex:'man'},
                    {name:'qe',age:'38',sex:'woman'},
                    {name:'as',age:'28',sex:'man'},
                ],
                searchName:'',
                orderType:'1'
            }
        },
        computed:{

            filterPersons1:{
                get:function () {

                    const {filterPersons, searchName,orderType}  = this

                    let newarr = filterPersons.filter((item,index)=> {
                        return item.name.indexOf(searchName)>=0
                    })

                    if(torderType!=1){
                        newarr.sort((a,b) =>{
                            if(orderType=='2'){
                                return a.age-b.age
                            }else {
                                return b.age-a.age
                            }
                        })

                    }
                    return newarr

                },
                set:function (newvalue) {

                },
            }
        }

    })
</script>
</body>
</html>