<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>06_列表渲染_过滤与排序</title>
</head>
<body>
<!--
1. 列表过滤
2. 列表排序
-->

<div id="demo">
    <input type="text" v-model="searchName">
    <ul>
        <li v-for="(p, index) in filterPersons1" :key="index">
            {{index}}---{{p.name}}---{{p.age}}
        </li>
    </ul>
    <button @click="orderType(2)">年龄升序</button>
    <button @click="orderType(3)">年龄降序</button>
    <button @click="orderType(1)">原本顺序</button>
</div>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el:'#demo',
        data:function(){
            return{
                filterPersons1:[],
                filterPersons:[
                    {name:'tom',age:'18',sex:'man'},
                    {name:'tom1',age:'58',sex:'man'},
                    {name:'tom2',age:'8',sex:'man'},
                    {name:'qe',age:'38',sex:'woman'},
                    {name:'as',age:'28',sex:'man'},
                ],
                searchName:'',
            }
        },
        mounted:function(){
            this.orderType(1)
        },
        methods:{
            // orderType:function (type) {
            //     if(type==1){
            //         this.filterPersons1= this.searchName==''?this.filterPersons:this.filterPersons.filter(function (item,index) {
            //             return item.name.indexOf(this.searchName)>=0
            //         },this)
            //     }else if(type==2){
            //         this.filterPersons1=this.searchName==''?this.filterPersons.sort(function (a,b) {
            //             return a.age-b.age
            //         }):this.filterPersons1.sort(function (a,b) {
            //             return a.age-b.age
            //         })
            //     }else if(type==3){
            //         this.filterPersons1=this.searchName==''?this.filterPersons.sort(function (a,b) {
            //             return b.age-a.age
            //         }):this.filterPersons1.sort(function (a,b) {
            //             return b.age-a.age
            //         })
            //     }
            // }
            orderType:function (type) {
                if(type==1){
                    this.filterPersons1= this.searchName==''?this.filterPersons:this.filterPersons.filter(function (item,index) {
                        return item.name.indexOf(this.searchName)>=0
                    },this)
                }else{
                    this.filterPersons1=this.searchName==''?this.filterPersons.sort(function (a,b) {

                                if(type==2){
                                    return a.age-b.age
                                }else {
                                    return b.age-a.age

                                }
                                }):this.filterPersons1.sort(function (a,b) {
                                    if(type==2){
                                        return a.age-b.age
                                    }else {
                                        return b.age-a.age
                                    }
                                })
                }
            }
        },
        watch:{
            searchName:function () {
                this.filterPersons1=this.filterPersons.filter(function (item,index) {
                    return item.name.indexOf(this.searchName)>=0
                },this)
            }
        }
    })
</script>
</body>
</html>